VITE_NETWORK_ID=preprod
VITE_CONTRACT_ADDRESS=ec565faac3103ff42017cebd3cc2510407b2068aa164ee54349ed7f0305e9e29
VITE_INDEXER_URI=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_INDEXER_WS_URI=wss://indexer.preprod.midnight.network/api/v4/graphql/ws
